<%= form_for [@post, @comment] do |f| %>
  <div class="form-group">
    <p><%= f.label :content %>:</p>
    <%= f.text_area :content, :rows => 5, :placeholder => "Comments..." %>
  </div>
  <%= f.submit(class: "btn add") %>
<% end %>
