<h2 class="list-group-item active"><%= @post.title %></h2>

<ul class="list-group">
  <% @post.comments.each do |comment| %>
    <li class="list-group-item">
      <%= User.find(comment.user_id).username %>: <%= comment.content %>
    </li>
  <% end %>
</ul>

<%= link_to "Comment", new_post_comment_path(@post), class: "btn btn-warning btn-lg" %>
