@import "bootstrap-sprockets";
@import "bootstrap";

h2.sub-title {
  color: #5E5E5E;
  text-shadow: 0px 1px #B8B8B8, 0px 2px #D9D9D9, 0px 3px #F5F5F5;
}

.small-link {
  font-style: italic;
}

.btn {
  box-shadow: 0px 1px 2px #B8B8B8;
}

li {
  padding-bottom: 5px;
}

.jumbotron {
  text-align: center;
  background: linear-gradient(#E5E5E5, #B9B9B9);
  box-shadow: 0px 1px 10px #C9C9C9;
}

.jumbotron h1 {
  text-shadow: 0px -1px #ABABAB, -1px 0px #ABABAB, 1px 0px #ABABAB, 0px .01em 0px #dededa,
               0 .015em 0 #dededa, 0 .02em 0 #dededa, 0 .028em 0 #dededa,
               0 .035em 0 #dededa, 0 .04em 0 #dededa, 0 .045em 0 #dbdbd6,
               0 .055em 0 #dbdbd6, 0 .06em 0 #dbdbd6, 0 .065em 0 #d9d9d4,
               0 .07em 0 #d9d9d4, 0 .08em 0 #d8d8d3, 0 .085em 0 #d8d8d3,
               0 .09em 0 #d8d8d3, 0 .095em 0 #d6d6d1, 0 .105em 0 #d6d6d1,
               0 .06em .06em rgba(104, 104, 92, 0.15), .07em .105em .04em rgba(0, 0, 0, .015),
               -.02em .09em .05em rgba(104, 104, 92, 0.25), -.03em .07em .065em rgba(104, 104, 92, 0.1);
}

#home-link {
  color: white;
}

#home-link:hover {
  color: #F7F7F7;
  text-decoration: none;
}
