/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.small-link {
  font-style: italic;
}

.btn {
  box-shadow: 0px 1px 2px #B8B8B8;
}

li {
  padding-bottom: 5px;
}

.jumbotron {
  text-align: center;
  background-color: #C9C9C9;
  box-shadow: 0px 1px 2px #B8B8B8;
}

.jumbotron h1 {
  text-shadow: 0px -1px #ABABAB, -1px 0px #ABABAB, 1px 0px #ABABAB,
                0px .01em 0px #dededa,
               0 .015em 0 #dededa, 0 .02em 0 #dededa, 0 .028em 0 #dededa,
               0 .035em 0 #dededa, 0 .04em 0 #dededa, 0 .045em 0 #dbdbd6,
               0 .055em 0 #dbdbd6, 0 .06em 0 #dbdbd6, 0 .065em 0 #d9d9d4,
               0 .07em 0 #d9d9d4, 0 .08em 0 #d8d8d3, 0 .085em 0 #d8d8d3,
               0 .09em 0 #d8d8d3, 0 .095em 0 #d6d6d1, 0 .105em 0 #d6d6d1,
               0 .06em .06em rgba(104, 104, 92, 0.15), .07em .105em .04em rgba(0, 0, 0, .015),
               -.02em .09em .05em rgba(104, 104, 92, 0.25), -.03em .07em .065em rgba(104, 104, 92, 0.1);
}

#home-link {
  color: white;
}

#home-link:hover {
  color: white;
  text-decoration: none;
}
